#wine-list {
  padding: 1rem;
}

.wine-card {
  margin-bottom: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pipe {
    margin: 0 .5rem;
  }
}

